<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="js/vendor/angular-1.6.5.min.js"></script>
        <script src="js/vendor/moment-2.18.1.min.js"></script>
        <script src="js/vendor/moment-de.js"></script>
        <script src="js/newsboard.js"></script>
    </head>
    <body ng-app="newsboard" ng-controller="NewsboardController" ng-init="init()">
        <div class="module" ng-repeat="module in modules" ng-show="viewMode=='newsboard'">
            <div class="module-inner">
                <h1>{{module.title}}</h1>
                <div ng-repeat="day in module.days">
                    <h2>{{day.formattedDate}}</h2>
                    <div class="item" ng-repeat="hour in day.hours" ng-class="{'item-first-of-hour': hour.first}">
                        <div class="item-left" >
                            {{hour.left}}
                        </div>
                        <div class="item-middle">
                            {{hour.middle}}
                        </div>
                        <div class="item-right">
                            {{hour.hour}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="oauth" ng-show="viewMode=='oauth'">
            Bitte Melden Sie sich mit Ihrem "Digitales Register" Benutzernamen und Passwort an.<br>
            <a href="./redirect.php">Zur Anmeldung</a>
        </div>
    </body>
</html>
